
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  *{
    margin:0;
    padding:0;
    border:0;
}
  

    body { 

        font-family: "Roboto",sans-serif;
        font-size: 25px;
        height: 100%;
        
        
        
    }

    body > footer {
      position: sticky;
      top: 100vh;
    }

    header {
        background-color: rgb(196, 195, 195);
        width: 100%;
        height:auto;
        padding-top: 25px;
        
        
        
    }



    
/***********************Nav and heading**/
    .logo {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 280%;


    }

    .nav a {
        color:rgb(0, 0, 0) ;
        font-size: 20px;
        
    }

    a {
      overflow: hidden;
      position: relative;
      display: inline-block;
    }
    
    a::before,
    a::after {
     content: '';
      position: absolute;
      width: 100%;
      left: 0;
    }
    a::before {
      background-color: #fa0909;
      height: 2px;
      bottom: 0;
      transform-origin: 100% 50%;
      transform: scaleX(0);
      transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    }
    a::after {
      content: attr(data-replace);
      height: 100%;
      top: 0;
      transform-origin: 100% 50%;
      transform: translate3d(200%, 0, 0);
      transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
      color: #e90505;
    }
    
    a:hover::before {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }
    a:hover::after {
      transform: translate3d(0, 0, 0);
    }
    
    a span {
      display: inline-block;
      transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    }
    
    a:hover span {
      transform: translate3d(-200%, 0, 0);
    }
     

/***************************Hero background****/
    

.background {
    height: 1000px;
    width:100%;
    background:url(images/boy.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 50px;
    
    

}

/***************************************Quotes**/

.quote-section{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  color: white;
  }
  
  
  
    
    .quote h3 {
      
      text-transform: uppercase;
      padding-top:25px;
      text-align: center;
    
      }
  
      .quote p {
      
        
        padding-top:10%;
        font-size: 20px;
        text-align: justify;
       
      
        }
  .quote-challange {
      text-align: center;
    }
  
    .quote-challange h3 {
      text-transform: uppercase;
      padding-top:25px;
    }
  
    .quote-challange p {
  
        font-size: 20px;
        padding-bottom: 10%;
    }
  
  
  
  .cover-text {
      color: white;
      text-align: center;
      text-transform: uppercase;
      padding-top: 25%;
  }
  


/******************Modal**/



.btn {
  color:#fff; 
  border-color: white;
}
.modal-content .exampleModalLabel  {
    width: 80%;
    margin: 0 auto;
    
  }
  .modal-body {
    padding: 0;
  }
  .btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
  }
  
  .myform {
    padding: 2em;
    max-width: 100%;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  }
  @media (max-width: 576px) {
    .myform {
      max-width: 90%;
      margin: 0 auto;
    }
  }
  .form-control:focus {
    box-shadow: inset 0 -1px 0 #7e7e7e;
  }
  .form-control .btn {
    background-color: inherit;
    color: #fff;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
  }
  .myform {
    width: 100%;
    font-weight: 800;
    background-color: #f50000;
    border-radius: 0;
    padding: 0.5em 0;
  }
  .myform {
    background-color: inherit;
    color: #fff;
    text-align: center;
    padding-top: 2em;
    color: rgb(253, 253, 253);
  }
.btn:hover {
  background-color: red;
}
  
  p a {
    color: #e1e1e1;
    text-decoration: none;
  }
  p a:hover {
    color: #fff;
  }
/************************Trainer-cards*****/
.trainer .btn {
  padding-top:10px;
}
.trainer .btn:hover {
  color: white;
}

.trainer p {
  font-size: 15px;
}

  

  
  
  


/***************Footer*/


    

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}

.card{
  background-color: black;
  color: white;
}

.card-header {
  text-transform: uppercase;
}

.footer {
  
  
  
  background-color: black;
  text-align: center;
  padding-top:5%;
    
}

.card-footer {
  color: #a5a1a1;
}